<h3><%= @user.name %>'s Profile</h3>

<img src="<%= @user.image_url %>" alt="<%= @user.name %>" height="300" width="300">
<p><%= @user.bio %> </p>

<p><%= link_to "Log Out", signout_path, method: :delete %></p>
